.btn-pb:not(.btn-search){
  font-size: 0.84rem;
  padding: 0.575rem 0.95rem;
}

.btn-circle {
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &.btn-sm {
    height: 1.8rem;
    width: 1.8rem;
    font-size: 0.75rem;
  }
  &.btn-lg {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.35rem;
  }
}

.btn-icon-split {
  padding: 0;
  overflow: hidden;
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
  .icon {
    background: fade-out($black, .85);
    display: inline-block;
    padding: $btn-padding-y $btn-padding-x;
  }
  .text {
    display: inline-block;
    padding: $btn-padding-y $btn-padding-x;
  }
  &.btn-sm {
    .icon {
      padding: $btn-padding-y-sm $btn-padding-x-sm;
    }
    .text {
      padding: $btn-padding-y-sm $btn-padding-x-sm;
    }
  }
  &.btn-lg {
    .icon {
      padding: $btn-padding-y-lg $btn-padding-x-lg;
    }
    .text {
      padding: $btn-padding-y-lg $btn-padding-x-lg;
    }
  }
}

.btn-yellow{
  background-color: #F1C518;
  color:#fff !important;
}

.btn-to-light{
  background-color:#E7E7E7;
  color:#000;
}

.btn-primary{
  background-color: #315E8A;
  color:$white;
  &:hover{
    background-color: #F1C518;
    border-color:#F1C518;
  }
}

.btn-outline-primary{
  background-color: $white;
  color:#315E8A;
  border-color:#315E8A;
  &:hover{
    background-color: #315E8A;
    border-color:#315E8A;
  }
}

.btn-primary-yellow{
  background-color: #F1C518;
  color:#fff;
  border-radius: 15px;
  padding: 1rem 1rem;
  &:hover{
    color:#fff;
    opacity: 0.9;
  }
}

.btn-back{
  padding: 0.2rem 1rem;
    font-size: 1.5rem;
    &--sticky{
      position:absolute;
      top:0;
    }
    &--stickyLeft{
      position:absolute;
      top:0;
      left:-50px;
      @media(max-width:767px){
        position: static;
        margin-bottom:10px;
      }
    }
}

.linkden-rounded{
  color: #0A66C2;
  font-size: 1.35rem;
  vertical-align: middle;
}

.btn-outline-secondary{
  &:hover{
    background-color: #FFF;
  }
}