.masthead{
  background-color: #1D222E;
  color:#fff;
  
  padding-top: 7rem;
  padding-bottom: 6rem;
  width:100%;
  @media (min-width: 1200px){
    h1{
      font-size: 2.9rem;
    }
    h2{
      font-size: 2.7rem;
    }
  }

  &--search{
    button{
      position: absolute;
      right: 6px;
      top:6px;
      border-radius: 25px;
    }
    input{
      padding-top: 12px;
      padding-bottom: 12px;
      border-radius: 25px;
    }
  }
}