.masthead{
  position: relative;
  background-color: #1D222E;
  color:#fff;

  padding-top: 11rem;
  padding-bottom: 8rem;
  width:100%;


  @media (min-width: 1200px){
    h1{
      font-size: 2.9rem;
    }
    h2{
      font-size: 2.7rem;
    }
  }

  &--search{
    .fa-times{
      display: none;
      position: absolute;
      color:$primarey-color; 
      right: 114px;
      top: 16px;
      font-size: 1.5rem;
    }
    button{
      position: absolute;
      right: 6px;
      top:6px;
      
    }
    input{
      padding-top: 16px;
      padding-bottom: 16px;
      border-radius: 30px;
      padding-right: 115px;
      transition: all 0.3s;
    }
      
 
  }
  .btn{
    padding:10px 24px;
  }
}

.autocomplete-box{
  position: absolute;

  background-color: #fff;
  width: 100%;
  border-radius: 0 0 30px 30px;
  box-shadow: 0px 0px 10px #00000029;
  transition: all 0.3s;
  height: 0;
  overflow: auto;
  .subheading{
    color:$primarey-color;
  }
  ul{
    padding:10px;
    list-style: none;
  }
  a{
    color:#315E8A;
    text-decoration: none;
  }


}

.showAutoComplete{
  .fa-times{
    display: inline-block;
  }
  .autocomplete-box{
 
    height:280px;
  }
  &.masthead--search{
    input{
      border-radius: 30px 30px 0px 0px;
    }
  }

}


.Company-list{
  a{
    filter: brightness(0) invert(1);
  }
  img{
    width:100%;
  }
}

/****************SECTIONS*****************/
.page-section{
  padding-top:4rem;
  padding-bottom:4rem;
}

/*************TENDERS*****************/
.heading-xl{
  font-size: 2.6rem;
  @media(min-width:992px){
    font-size: 4.2rem;
    line-height: 1;
  }
  

  font-weight: bold;
  span{
    display: inline-block;
    vertical-align: middle;
  }
}

.letter-space-1{
  letter-spacing: 1rem;
}

.letter-space-05{
  letter-spacing: 0.5rem;
}


.tender-box{
  position: relative;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 20px;
  margin: 0.5rem 1rem;
  /*max-width:320px;*/
  padding: 15px;
  overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--desc{
      font-size: 0.77rem;
    }
    &--header{
      img{
        max-width: 100%;
        width:128px;
      }
    }
    &--document{
      position: absolute;
      right:0;
      top:0;
      box-shadow: 0px 0px 5px #00000029;
      border-radius: 0 0 0 15px;
      padding: 0.5rem 1rem;
      font-size: 1.8rem;
      color:$blue;
    }
    &--busName{
      text-align: center;
    }
}


.tenders-animation{
  @media(min-width:992px){
      &__left{
        position: absolute;
        right:0;
        transition: all 1.4s;
      z-index: 1;
      }
      &__right{
        transition: all 1s;
        margin-left: 12%;
      }
    
    &::before{
      content:'';
      background-image: url(../img/tenders-right-bg.svg);
      top: 5px;
      bottom: 5px;
      width: 29rem;
      height: calc(100% - 10px);
      position: absolute;
      right: 0;
      background-size: contain;
      background-repeat: no-repeat;
      transition: all 0.8s;
      z-index: 2;
    }
  }
    .swiper-wrapper > .swiper-slide-active + div + div {
      @media(min-width:992px)  and (max-width:1600px){
        opacity: 0;
        transition: all 0.6s;
      }
    }

    .swiper-wrapper > .swiper-slide-active + div + div + div{
      @media(min-width:1600px){
        opacity: 0;
        transition: all 0.6s;
      }
    }
  
}




.tender__animate-section{

      &:hover{
        @media(min-width:992px){
        .tenders-animation{
          &::before{
            right:-15rem;
          }
          
          &__left{
            right: 67%;
            z-index: 2;
          }
          &__right{
            margin-left: 30%;
          }
        }
        @media(min-width:1600px){
          .swiper-wrapper > .swiper-slide-active + div + div + div{
            opacity: 1;
            }
          }
          @media(min-width:992px) and (max-width:1600px) {
            .swiper-wrapper > .swiper-slide-active + div + div {
              opacity: 1;
              }
          }

        }
      
  }
}

/*********SERVICES**************************/
.heading-md{
  font-size: 2.1rem;
  @media(min-width:992px){
    font-size: 2.92rem;
    line-height: 1;
  }
  
.small{
font-size: 0.575em;
}
  font-weight: bold;
  span{
    display: inline-block;
    vertical-align: middle;
  }
}

.mask-cover--left{
  &:before{
    position: absolute;
    bottom: -8rem;
    left: 0;
    content: '';
    background-size: contain;
    background-image: url(../img/mask-left.svg);
    background-repeat: no-repeat;
    width:6rem;
    height: 12rem;
    @media(min-width:992px){
      width: 12rem;
      height: 28rem;
    }
  }
}
.services-circle{
  position: relative;
  text-align: center;

@media(min-width:1024px) and (max-width:1400px){
  zoom:0.76;
}
@media(max-width:1023px){
  .mid-circle{
   margin-bottom:1rem; 
  }
  .curve{
    background-color: #fff;
    padding:10px;
    border-radius: 10px;
    margin-top:10px;
    img{
      margin-bottom:6px;
    }
  }
}

  @media(min-width:1024px){
    padding: 8.5rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  display: inline-block;
  .curve{
    @media(min-width:1024px){
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        &:hover{
          z-index: 9;
        }
    }
    .desc{
      @media(min-width:1024px){
        width:300px;
          &>div{
            width:300px;
          }
        position: absolute;
        transition: all 0.3s;
        
      }

      h4{
        color:$primarey-color;
        font-weight: bold;
      }
      p{
        @media(min-width:1024px){
          font-size: 0.7rem;
        }
        transition: all 0.3s;
      }
    }
  

    @media(min-width:1024px){

    &-1{  
      background-image: url(../img/services/c1.svg);
      width: 142px;
      height: 150px;
      top: -2px;
      right: 114px;
      &:before{
        content: '';
        background-image: url(../img/services/b1.png);
        position: absolute;
        width: 110px;
        left: 25px;
        height: 14px;
        top: -24px;
      }
      .desc{
        top:-120px;
        text-align: left;
        left:25px;
      }
      img{
        margin-right: 20px;
      }
      &:hover{
        background-image: url(../img/services/c1h.svg);
        transform: translate(12px,-40px);
        
        img{
          filter: brightness(0) invert(1);
        }
        .desc{
          padding-left:130px;
        
          top:-80px;
          p{
            font-size: 0.8rem;
          }

        }
        
      }
    }

    &-2{
      background-image: url(../img/services/c2.svg);
      width: 168px;
      height: 168px;
      top: 42px;
      right: 18px;
      &:before{
        content: '';
        background-image: url(../img/services/b2.png);
        position: absolute;
        width: 110px;
        height: 14px;
        top: 18px;
        right: -52px;
      }
      &:after{
        content: '';
        position: absolute;
        top: 20px;
        bottom: 20px;
        height: 100%;
        width: 100%;
        right: -70px;
      }
      .desc{
        top: 0px;
        text-align: left;
        left: 232px;
      }
      img{
        margin-right: 20px;
      }
      &:hover{
        background-image: url(../img/services/c2h.svg);
        transform: translate(26px, -18px);
        
        img{
          filter: brightness(0) invert(1);
        }
        .desc{
        
          p{
            font-size: 0.8rem;
          }

        }
        
      }
    }
    
    &-3{
      background-image: url(../img/services/c3.svg);
      width: 141px;
      height: 173px;
      top: 156px;
      right: -6px;
      &:before{
        content: '';
        background-image: url(../img/services/b3.png);
        background-repeat:no-repeat;
        position: absolute;
        width: 60px;
        height: 14px;
        top: 66px;
        right: -47px;
      }
      &:after{
        content: '';
        position: absolute;
        top: 20px;
        bottom: 20px;
        height: 100%;
        width: 100%;
        right: -70px;
      }
      .desc{
        top: 47px;
        text-align: left;
        left: 200px;
      }
      img{
        margin-right: 20px;
      }
      &:hover{
        background-image: url(../img/services/c3h.svg);
        transform: translate(26px, 2px);
        
        img{
          filter: brightness(0) invert(1);
        }
        .desc{ 
          p{
            font-size: 0.8rem;
          }

        }
        
      }
    }
    
    &-4{
      background-image: url(../img/services/c4.svg);
      width: 168px;
      height: 168px;
      top: 276px;
      right: 8px;
      img{
        margin-right: 20px;
      }
      &:before{
        content: '';
        background-image: url(../img/services/b2.png);
        position: absolute;
        width: 110px;
        height: 14px;
        top: 108px;
        right: -60px;
        transform: scaleY(-1);
      }
      &:after{
        content: '';
        position: absolute;
        top: 20px;
        bottom: 20px;
        height: 100%;
        width: 100%;
        right: -70px;
      }
      .desc{
        top: 106px;
        text-align: left;
        left: 242px;
      }
      img{
        margin-right: 20px;
      }
      &:hover{
        background-image: url(../img/services/c4h.svg);
        transform: translate(26px, 28px);
        
        img{
          filter: brightness(0) invert(1);
        }
        .desc{
          p{
            font-size: 0.8rem;
          }

        }
        
      }
    }
    
    &-5{
      background-image: url(../img/services/c5.svg);
      width: 142px;
      height: 150px;
      top: 342px;
      right: 104px;
      img{
        margin-right: 24px;
      }
      &:before{
        content: '';
        background-image: url(../img/services/b1.png);
        position: absolute;
        width: 110px;
        left: 25px;
        height: 14px;
        bottom: -12px;
        transform: scaleY(-1);
      }
      .desc{
        bottom:-120px;
        text-align: left;
        left:25px;
      }

      &:hover{
        background-image: url(../img/services/c5h.svg);
        transform: translate(12px,40px);
        
        img{
          filter: brightness(0) invert(1);
        }
        .desc{
          padding-left:130px;
        
          bottom:-100px;
          p{
            font-size: 0.8rem;
          }

        }
        
      }
    }
    
    &-6{
      background-image: url(../img/services/c6.svg);
      width: 142px;
      height: 150px;
      top: 342px;
      right: 236px;
      img{
        margin-left: 10px;
      }
      &:before{
        content: '';
        background-image: url(../img/services/b1.png);
        position: absolute;
        width: 110px;
        right: 25px;
        height: 14px;
        bottom: -12px;
        transform: scale(-1);
      }
      .desc{
        bottom:-120px;
        direction: rtl;
        text-align: right;
        right:25px;
      }

      &:hover{
        background-image: url(../img/services/c6h.svg);
        transform: translate(-10px,40px);
        
        img{
          filter: brightness(0) invert(1);
        }
        .desc{
          padding-right:130px;
        
          bottom:-100px;
          p{
            font-size: 0.8rem;
          }

        }
        
      }
    }
    
    &-7{
      background-image: url(../img/services/c7.svg);
      width: 168px;
      height: 168px;
      bottom: 40px;
      left: 14px; 
      img{
        margin-bottom: 10px;
      }
      &:before{
        content: '';
        background-image: url(../img/services/b2.png);
        position: absolute;
        width: 110px;
        height: 14px;
        top: 108px;
        left: -60px;
        transform: scale(-1);
      }
      &:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        left: -70px;
      }
      .desc{
        top: 106px;
        text-align: right;
        direction: rtl;
        right: 232px;
      }
      img{
        margin-right: 20px;
      }
      &:hover{
        background-image: url(../img/services/c7h.svg);
        transform: translate(-30px, 28px);
        
        img{
          filter: brightness(0) invert(1);
        }
        .desc{
          p{
            font-size: 0.8rem;
          }

        }
        
      }
    }
    
    &-8{
      background-image: url(../img/services/c8.svg);
      width: 141px;
      height: 173px;
      bottom: 156px;
      left: -6px;
      &:before{
        content: '';
        background-image: url(../img/services/b3.png);
        background-repeat:no-repeat;
        position: absolute;
        width: 60px;
        height: 14px;
        top: 60px;
        left: -47px;
        
      }
      &:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        left: -70px;
      }
      .desc{
        top: 47px;
        text-align: right;
        direction: rtl;
        right: 200px;
      }
      img{
        margin-right: 20px;
      }
      &:hover{
        background-image: url(../img/services/c8h.svg);
        transform: translate(-28px, 0px);
        
        img{
          filter: brightness(0) invert(1);
        }
        .desc{
          p{
            font-size: 0.8rem;
          }

        }
        
      }
    }
    
    &-9{
      background-image: url(../img/services/c9.svg);
      width: 168px;
      height: 168px;
      bottom: 274px;
      left: 12px;
      img{
        margin-left: 15px;
      }
      &:before{
        content: '';
        background-image: url(../img/services/b2.png);
        position: absolute;
        width: 110px;
        height: 14px;
        top: 12px;
        left: -42px;
        transform: scaleX(-1);
      }
      &:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        left: -70px;
      }
      .desc{
        direction: rtl;
        top: 0px;
        text-align: right;
        right: 222px;
      }
      img{
        margin-right: 20px;
      }
      &:hover{
        background-image: url(../img/services/c9h.svg);
        transform: translate(-26px, -16px);
        
        img{
          filter: brightness(0) invert(1);
        }
        .desc{
          padding-left:10px;
        
          p{
            font-size: 0.8rem;
          }

        }
        
      }
    }

    
    &-10{
      background-image: url(../img/services/c10.svg);
      width: 142px;
      height: 150px;
      left: 108px;
      top: 2px;
      &:before{
        content: '';
        background-image: url(../img/services/b1.png);
        position: absolute;
        width: 110px;
        left: 25px;
        height: 14px;
        top: -28px;
        transform: scaleX(-1);
      }
      .desc{
        top:-125px;
        text-align: right;
        right:25px;
        direction: rtl;
      
      }
      img{
        margin-left: 35px;
      }

      &:hover{
        background-image: url(../img/services/c10h.svg);
        transform: translate(-12px,-40px);
        
        img{
          filter: brightness(0) invert(1);
        }
        .desc{
          padding-right:130px;
          top:-80px;
          p{
            font-size: 0.8rem;
          }

        }
        
      }
    }
    
  }

  }

}



/*********#END# SERVICES**************************/


.home-big-row{
  img{
    max-width: 100%;
  }
}

.home-big-row{
  .swiper-slide{
    img{
      width:100%;
      border-radius: 30px;
    }
  }

  .swiper-slide:not(.swiper-slide-active){
    img{
      transform: scale(0.8);
    }
  }
}

.section-heading{
  font-size: 1.9rem;
  @media(min-width:992px){
    font-size: 2.4rem;
  }
}

.news{
  &-image{
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
  }
  &-desc{
    font-size: 0.88rem;
  }
  &-title{
    font-weight: bold;
  }
}

/*************CONTACT US********************/
.contact{
  &-title{
    font-weight: bold;
  }
}

.icon-yellow{
  background-color: $yellow;
  color: #fff;
  display: inline-flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  &:hover{
    color:#fff;
  }
}