
body{
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    text-align: right;
}

.ms-auto{
margin-left: auto !important
}

@media (min-width: 768px){
    .sidebar.toggled .nav-item .collapse {
        right: calc(6.5rem + 1.5rem / 2);
        left:auto;
    }

}

.navbar-brand{
    margin-right:0;
}

.navbar-expand-lg .navbar-nav{
    margin-left:0 !important;
}
.heading-stroke:before{
    right: 0;
    left: auto;
}
.sidebar #sidebarToggle{
    transform: rotate(180deg);
}

.accordion-button::after{
    margin-right: auto;
    margin-left: 0;
    color: #1D222E;
}

.sidebar .nav-item .nav-link[data-bs-toggle=collapse]::after{
    float:left;
    transform: rotate(180deg);
  
}
@media(min-width:768px){
    .bg-sidebar-primary .nav-item .nav-link{
        text-align: right;
    }
}

input[type='checkbox'] + label, input[type='radio'] + label{
    margin-right:4px;
}

.scroll-to-top{
    right:auto;
    left:1rem;
}

.files-list .btn-light{
    left:-1px;
    right:auto;
}

.files-list .form-control{
    padding-left:60px;
    padding-right:0.8rem;
}

.form-control-user + .select2-container--default .select2-selection--single .select2-selection__arrow{
    right:auto;
    left:10px;
}

.ml-auto{
    margin-right: auto !important;
    margin-left:0 !important;
}

.btn-back{
    i{
        transform: rotate(180deg);
    }
}

.form-control-user + .select2-container--default .select2-selection--single .select2-selection__arrow:before{
    font-size: 2.5rem;
    content: '\203A';
    line-height: 0.5;
}

.form-control-user + .select2-container--open .select2-selection--single .select2-selection__arrow:before{
    line-height: 1;
}

.toggle-password{
    
    left: 10px;
    right: auto;
  }

  .btn-outline-secondary:hover,.btn-search,.btn-search:hover{
      color:#6c757d;
  }

  .form-control-user + .select2-container--default .select2-selection--single .select2-selection__arrow{
    transform: rotate(180deg);
  }

  .dropdown-top-search{
    right: 0 !important;
    left: auto !important;
  }

  .middle-bar{
      &:before{
          right: auto;
          left:10px;
      }
  }
  .map-menu:before{
      right:0;
      left: auto;
  }
  .effect{
      left:auto;
      right: -2px;
  }

  /************HOME RTL*****************/
.masthead--search input{
    padding-left:115px;
    padding-right:15px;
}
.masthead--search button{
    right:auto;left:6px;
}
.tender__animate-section,
.services-circle{
    direction: ltr;
}
.tender-box--document{
    right:auto;
    left:0;
    border-radius: 15px 0 0 0px;
}

.arrow-wide--small,.arrow-wide{
    transform: scale(-1);
}
.logo-animation{
    float:left;
}
/************#END# HOME RTL*****************/


.form-check{
    padding-right: 1.5em;
}

.pagination-custom .page-item .page-link.arrow{
    transform: scaleX(-1);
}

.masthead--search .fa-times{
    right:auto;
    left:114px;
}

.tenders-boxes--table .tenders-boxes-box{
    padding-right: 30px !important;
    padding-left: 0.5rem !important;
}
.tenders-boxes--table .tenders-count{
    left:auto;
    right:16px;
}

.tender-box--document {
    border-radius: 0px 0 15px 0;
}

.back-link{
    i{
    transform: scaleX(-1);
    }
}

a:hover {
    color: #274b6e;
}

.main-nav:before{
    transform: scaleX(-1);
    right:auto;
    left:0;
}

.mask-right:before{
    right:auto;
    left:0;
    transform: none;
}

.stroke-title-yellow:before{
    left:auto;
    right:0;
}

.stroke-title-yellow--sm:before{
    right: -1.5rem;
    left: auto;
}

@media(min-width:992px){
    .white-stiky-box{
        left:auto;
        right:0;
    }
    .ml-n5{
        margin-left: auto;
        margin-right: -14rem;
    }
    .mr-n4{
        margin-left:-10rem;
        margin-right:auto;
    }
}


.px-custom-5{
    @media(min-width:767px){
      padding-right:4rem !important;
      padding-left: 0 !important;
    }
  }
  .px-custom-10{
    @media(min-width:767px){
      padding-right:10rem !important;
      padding-left: 0 !important;
    }
  }
  .dots-square-mask:before{
    @media(min-width:767px){
      right:0; 
      left:auto;
    }
  }


  .accordion-plus .accordion-button::after{
    padding-bottom: 5px;
  }